<ion-content padding [fullscreen]= "true">
  <ion-grid id="mainGrid">
    <ion-row class="ionRowTop">
      <ion-col class="thumbnailIcon">       
          <img id="logoapp" class="logoapp" src="../../assets/logos/Logoapp.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="loginGoogle()" expand="block" color="danger">Google</ion-button>
        <ion-button (click)="loginFacebook()" expand="block" color="primary">Facebook</ion-button>
        <!-- <ion-button (click)="goToHomePage()" color="warning">):< Obligame prro</ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row class="ionRowBot">
      <ion-col>
        <img class="clsLogos" src="../../assets/splashscreen/LogosAlcaldia.svg" />
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>