#mainGrid{
    height: 100%;
    display: block;
}


.thumbnailIconTop{
    padding: 15px;
    height:15vh;
    width: 100%;
}

.thumbnailIconBot{
    padding: 0px;
    height:12vh;
    width: 100%;
}

.ionRowTop{
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.ionRowBot{
    height: 100%;
}
.ionColBot{
    height: 100%;
}
.clsLogos{
    height: 80%;
    max-width: 100%;
}
.thumbnailIcon{
    padding: 0px;
    text-align: center;
}
#logoapp {
    height: 100%;
    max-width: 100%;
}