<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/logoapp.svg" /></ion-col>
        <ion-col size="4"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/LogosAlcaldia.svg" /></ion-col>
        <ion-col size="2"><ion-button (click)="cambiarIdioma()" class="btnLang">{{lang}}</ion-button></ion-col>
      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true" class="ion-padding">

  <ion-grid>
    <ion-row sizeLg="">

    <ion-col sizeLg="4">
      <ion-card>
        <ion-icon src="../../assets/icon_informacion.png" style="height: 100%; width: 100%;"></ion-icon>
 
        <ion-label class="menuText">{{lang==="ENG" ? "General Information" : "Información General"}}</ion-label>
      </ion-card>

    </ion-col>  

    <ion-col sizeLg="4" class="CardMenu" >
      
      <ion-card>
             
        <ion-card-content>
          <ion-icon src="../../assets/icon_imperdibles.png" style="height: 100%; width: 100%;"></ion-icon>
          <ion-label class="menuText">{{lang==="ENG" ? "Unmissable Places" : "Lugares Imperdibles"}}</ion-label>
        </ion-card-content>
      </ion-card>

    </ion-col> 



    <ion-col sizeLg="4" class="CardMenu" >
      
      <ion-card>
             
        <ion-card-content>
          <ion-icon src="../../assets/icon_fiestas.png" style="height: 100%; width: 100%;"></ion-icon>
          <ion-label class="menuText">{{lang==="ENG" ? "Official Parties" : "Fiestas Oficiales"}}</ion-label>
        </ion-card-content>
      </ion-card>

    </ion-col>  
     
    </ion-row>
  </ion-grid>
 
</ion-content>
