<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/logoapp.svg" /></ion-col>
        <ion-col size="4"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/LogosAlcaldia.svg" /></ion-col>
        <ion-col size="2"><ion-button (click)="cambiarIdioma()" class="btnLang btnLangHome">{{lang}}</ion-button></ion-col>      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true" class="ion-padding background">


  <ion-card class="cardToDo" (click)="toggle()" *ngIf="visible == false">
         
    <ion-card-content >
     <p class="mainToDo"> 
      <ion-label  >{{lang==="ENG" ? "¿TO DO?": "¿QUÉ HACER?"}} </ion-label>     
       
     </p>
     <hr class="line">
     <p>
      <ion-icon style="text-align: center;" class="iconToDo" src="../../assets/icon_quehacer.svg"></ion-icon>
    </p>  
    
      
    </ion-card-content>
  
  </ion-card>
  
</ion-content>
<ion-footer style="text-align: center; ">

 
    <button (click)="toggle()" style="background:  rgba(255, 0, 0, 0); ">
    <ion-icon  style="font-size: 30px" *ngIf="!visible" src="../../assets/icon_flechaup.svg"></ion-icon>

   <ion-icon  style="font-size: 30px" *ngIf="visible" src="../../assets/icon_flechadown.svg"></ion-icon>
   </button>


  <ion-toolbar *ngIf="visible" >
   
    <ion-row style="background:  rgba(255, 0, 0, 0); ">

      <ion-col sizeLg="4">
        <ion-card class="cardMenu"  (click)="getMenu('DEF')">
         
          <ion-card-content class="homeSubtitle">
            
           <ion-icon src="../../assets/icon_informacion.svg"></ion-icon>                
            <ion-label>{{lang==="ENG" ? "General" : "Información"}} </ion-label>          
            <ion-label>{{lang==="ENG" ? "Information" : "General"}} </ion-label>  
            
          </ion-card-content>
        
        </ion-card>

      </ion-col>

      
      <ion-col sizeLg="4">
 
        <ion-card class="cardMenu"  (click)="enviarParametroGeneral('LGI')">
          
          <ion-card-content class="homeSubtitle">
            
               <ion-icon src="../../assets/icon_imperdibles-blue.svg"></ion-icon>
                
               <p class="homeSubtitle pMargins">
                <ion-label>{{lang==="ENG" ? "Unmissable" : "Lugares"}} </ion-label>     
               </p>
                   
               <p class="homeSubtitle pMargins">  <ion-label>{{lang==="ENG" ? "Places" : "Imperdibles"}} </ion-label>  </p>

              
          
          </ion-card-content>
        
        </ion-card>     

      </ion-col>

      
      <ion-col sizeLg="4">

        <ion-card class="cardMenu" (click)="enviarParametroGeneral('FTS')">
        
          <ion-card-content class="homeSubtitle">
            
            <p>
              <ion-icon style="text-align: center;" src="../../assets/icon_fiestas.svg"></ion-icon>
            </p>        
             
            <ion-label>{{lang==="ENG" ? "Official" : "Fiestas"}} </ion-label>          
           <p class="homeSubtitle">
            <ion-label>{{lang==="ENG" ? "Parties" : "Oficiales"}} </ion-label>    
           </p>  
      
          </ion-card-content>    
     
      </ion-card>   


      </ion-col>
     
     
        
      
  
    </ion-row>
  
  </ion-toolbar>

 </ion-footer>
