<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/logoapp.svg" /></ion-col>
        <ion-col size="4"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/LogosAlcaldia.svg" /></ion-col>
        <ion-col size="2"><ion-button (click)="cambiarIdioma()" class="btnLang">{{lang}}</ion-button></ion-col>
      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true" class="ion-padding">
  
</ion-content>
<ion-footer style="text-align: center;">

 
    <button (click)="toggle()" >
      <ion-icon  style="font-size: 20px"
          [name]="visible ?  'arrow-down-outline' : 'arrow-up-outline'">
      </ion-icon>
   </button>


  <ion-toolbar *ngIf="visible">
   
    <ion-row>
     
        <ion-card class="cardMenu"  (click)="goToInfo()">
         
          <ion-card-content class="homeSubtitle">
            
           <ion-icon src="../../assets/icon_informacion.svg"></ion-icon>                
            <ion-label>{{lang==="ENG" ? "General" : "Información"}} </ion-label>          
            <ion-label>{{lang==="ENG" ? "Information" : "General"}} </ion-label>  
            
          </ion-card-content>
        
        </ion-card>
        
    
        <ion-card class="cardMenu"  (click)="goToPlaces()">
          
          <ion-card-content class="homeSubtitle">
            
               <ion-icon src="../../assets/icon_imperdibles-blue.svg"></ion-icon>
                
               <ion-label>{{lang==="ENG" ? "Unmissable" : "Lugares"}} </ion-label>          
               <ion-label>{{lang==="ENG" ? "Places" : "Imperdibles"}} </ion-label>       
              
          
          </ion-card-content>
        
        </ion-card>        
  
        <ion-card class="cardMenu"   (click)="goToParties()">
        
          <ion-card-content class="homeSubtitle">
            
            <p>
              <ion-icon style="text-align: center;" src="../../assets/icon_fiestas.svg"></ion-icon>
            </p>        
             
            <ion-label>{{lang==="ENG" ? "Official" : "Fiestas"}} </ion-label>          
           <p class="homeSubtitle">
            <ion-label>{{lang==="ENG" ? "Parties" : "Oficiales"}} </ion-label>    
           </p>  
      
          </ion-card-content>    
     
      </ion-card>   

    </ion-row>
  
  </ion-toolbar>

 </ion-footer>
