<ion-content>
  <ion-slides #slides effect="coverflow" (ionSlideAfterInit)="ionSlideAfterInit()"
    (ionSlideDidChange)="slideChanged(slides)">
    <ion-slide *ngFor="let item of mainPredictionArray">
      <img class="card-img" src="{{item.predictionImageURL}}" />
    </ion-slide>
  </ion-slides>
  <ion-item lines="none">
    <h1 class="mainTitle">{{lang == 'ENG' ? itemData.NombreSitioTuristicoENG : itemData.NombreSitioTuristicoESP}}</h1>
    <ion-icon slot="end" name="star-outline"></ion-icon>
  </ion-item>
  <ion-item lines="none">
    <p class="mainResume">{{lang == 'ENG' ? itemData.DescripcionENG : itemData.DescripcionESP}}</p>
  </ion-item>
  <ion-accordion title="Presentacion" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion mainSubtitle">
    <div class="accordionContent">
      <ion-label>{{lang == 'ENG' ? itemData.PresentacionENG : itemData.PresentacionESP}}</ion-label>
    </div>
  </ion-accordion>
  <ion-accordion title="Horarios eucaristias" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion mainSubtitle">
    <div class="accordionContent">
      <ion-label>Horarios eucaristias</ion-label>
    </div>
  </ion-accordion>
  <ion-accordion title="Galeria" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion mainSubtitle" >
    <div class="accordionContent">
      <ion-label>Galeria</ion-label>
    </div>
  </ion-accordion>
  <ion-accordion title="Como llegar" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion mainSubtitle">
    <div class="accordionContent">
      <ion-label>{{lang == 'ENG' ? itemData.RutaENG : itemData.RutaESP}}</ion-label>
    </div>
  </ion-accordion>
  <ion-accordion title="Opiniones" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion mainSubtitle">
    <div class="accordionContent">
      <ion-label>Comentarios</ion-label>
    </div>
  </ion-accordion>
  <div *ngIf="categoria=='SDM'">
    <ion-row>
      <ion-col md-6 >  
        <ion-button expand="block" color="primary" (click)="mejorRuta(itemData)" icon-start>
          <ion-icon src="../../assets/icon_imperdibles.svg" ></ion-icon>
        {{txtMejorRuta}}
      </ion-button>
    </ion-col>
    <ion-col md-6 >  
      <ion-button expand="block" color="primary" (click)="mejorRuta(itemData)" icon-start>
      <ion-icon name="star"></ion-icon>
      {{txtMejorRuta}}
    </ion-button>
  </ion-col>
    </ion-row>
  </div>
  <div *ngIf="categoria !=='SDM'">
  <ion-button expand="block" color="primary" (click)="mejorRuta(itemData)" icon-start>
    <ion-icon src="../../assets/icon_imperdibles.svg" ></ion-icon>
    {{txtMejorRuta}}
  </ion-button>
 </div>
</ion-content>