<ion-header class="genHeader">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-button (click)="fnAtras()" class="btnAtras">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8"></ion-col>
        <ion-col size="2">
          <ion-button (click)="cambiarIdioma()" class="btnLang">{{lang}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="genContent">
  <ion-slides #slides effect="coverflow">
    <ion-slide *ngFor="let item of itemData.Imagenes">
      <img class="card-img" src="https://testappservicewf.azurewebsites.net/{{item.UrlFoto}}" />
    </ion-slide>
  </ion-slides>
  <ion-item lines="none">
    <h1 class="mainTitle"> {{lang == 'ENG' ? itemData.NombreSitioTuristicoENG : itemData.NombreSitioTuristicoESP}}</h1>
  </ion-item>
  <ion-item lines="none" *ngIf="calValueInputGen == ''">
    {{lang == 'ENG' ? "No qualifications" : "Sin calificación"}}
  </ion-item>
  <ion-item lines="none" *ngIf="calValueInputGen != ''">
    <app-calificacion calValueInput="{{calValueInputGen}}"></app-calificacion>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="mainResume" text-wrap>{{lang == 'ENG' ? itemData.DescripcionENG : itemData.DescripcionESP}}
    </ion-label>
  </ion-item>
  <ion-accordion title="{{lang == 'ENG' ? 'Presentation' : 'Presentación'}}" classTitle="border-header"
    class="accordion">
    <div class="accordionContent">
      <ion-label class="mainResume" text-wrap>{{lang == 'ENG' ? itemData.PresentacionENG : itemData.PresentacionESP}}
      </ion-label>
    </div>
  </ion-accordion>
  <ion-accordion title="{{lang == 'ENG' ? 'Eucharist Schedule' : 'Horarios eucaristias'}}" classTitle="border-header"
    class="accordion">
    <div class="accordionContent">
      <ion-label class="mainResume" text-wrap>{{lang == 'ENG' ? "Eucharist Schedule" : "Horarios eucaristias"}}
      </ion-label>
    </div>
  </ion-accordion>
  <ion-accordion title="{{lang == 'ENG' ? 'Galery' : 'Galería'}}" classTitle="border-header" class="accordion">
    <div class="accordionContent">
      <ion-row > 

        <ion-col *ngFor="let item of items; let i = index"  size-lg="4" size-md="4" size-sm="4" size-xs="4">
         
         <ion-thumbnail (click)="abrirModal(i)">
            <ion-img   src="../../assets/img_catedral.jpg"  ></ion-img>
          </ion-thumbnail> 
        </ion-col>
      </ion-row>

    </div>
  </ion-accordion>
  <ion-accordion title="{{lang == 'ENG' ? 'How to get' : 'Como llegar'}}" classTitle="border-header" class="accordion">
    <div class="accordionContent">
      <ion-label class="mainResume" text-wrap>{{lang == 'ENG' ? itemData.RutaENG : itemData.RutaESP}}</ion-label>
    </div>
  </ion-accordion>
  <ion-accordion title="{{lang == 'ENG' ? 'Comments' : 'Comentarios'}}" classTitle="border-header" class="accordion">
    <div class="accordionContent">
      <div *ngIf="habilitarOpinion==false">
        <ion-card>
          <ion-card-content style="background-color: #e8e8e8;">
            <ion-row>
              <ion-col size="2">
                <h1 style="margin-left: -6px;">{{calValueInputGen}}</h1>
              </ion-col>
              <ion-col size="7">
                <ion-grid>
                  <ion-row>
                    <ion-col *ngIf="calValueInputGen == ''"></ion-col>
                    <ion-col *ngIf="calValueInputGen != ''">
                      <app-calificacion calValueInput="{{calValueInputGen}}"></app-calificacion>                      
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col> {{itemData.TotalComentarios}} {{lang == 'ENG' ? "Comments" : "Comentarios"}} </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size="3">
                <ion-button color="primary" style="font-size: 6px;" (click)="setHabilitarOpinion(true)"> {{lang == 'ENG' ? "Give my opinion" : "Dar mi opinión"}} </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-list *ngFor="let cal of itemData.Comentarios">
          <ion-card>
            <ion-card-content style="background-color: #e8e8e8;">
              <ion-row>
                <ion-col size="8">
                  <h1 style="margin-left: -6px;">{{cal.NombreCompleto}}</h1>
                </ion-col>
                <ion-col size="4">
                  <app-calificacion calValueInput="{{cal.Calificacion}}"></app-calificacion>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>{{cal.Comentarios}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>{{lang == 'ENG' ? "Visited this place on " : "Visitó este lugar el "}} {{cal.DiaRegistro}}</h5>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div *ngIf="habilitarOpinion==true">
        <app-calificacioninput (calValueOutput)="cambiarCalificacion($event)"></app-calificacioninput>
        <ion-textarea name="comentarios" [(ngModel)]="commentsST" rows="4"
          placeholder="{{lang == 'ENG' ? 'Comments' : 'Comentarios'}}"></ion-textarea>

        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button color="primary" (click)="enviarComentarios()">{{lang == 'ENG' ? "Send Comments" : "Enviar
                comentarios"}}
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-img [src]="imgComentario1" class="imgFileU" style="width : 100% ; height : 100%"
                (click)="seleccionarImagen(1)"></ion-img>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-img [src]="imgComentario2" class="imgFileU" style="width : 100% ; height : 100%"
                (click)="seleccionarImagen(2)"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button color="danger" (click)="borrarImagen(1)">{{lang == 'ENG' ? "Delete image" : "Borrar imagen"}}
              </ion-button>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-button color="danger" (click)="borrarImagen(2)">{{lang == 'ENG' ? "Delete image" : "Borrar imagen"}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-accordion>
  <div *ngIf="categoria=='SDM'">
    <ion-row>
      <ion-col md-6>
        <ion-button class="textButton" expand="block" color="primary" (click)="mejorRuta(itemData, 2)" icon-start>
          <ion-icon src="../../assets/icon_imperdibles.svg"></ion-icon>
          {{lang == "ENG" ? "Best route" : "Mejor ruta"}}
        </ion-button>
      </ion-col>
      <ion-col md-6>
        <ion-button class="textButton" expand="block" color="primary" (click)="mejorRuta(itemData, 1)" icon-start>
          <ion-icon name="star"></ion-icon>
          {{lang == "ENG" ? "Hiking route" : "Ruta senderismo"}}
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="categoria !=='SDM'">
    <ion-button class="textButton" expand="block" color="primary" (click)="mejorRuta(itemData, 2)" icon-start>
      <ion-icon src="../../assets/icon_imperdibles.svg"></ion-icon>
      {{lang == "ENG" ? "Best route" : "Mejor ruta"}}
    </ion-button>
  </div>
</ion-content>