.card-body {
    background-color: #ffffff;
    padding: 30px;
    height: calc(100vh – (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 5px;
        padding-bottom: 25px;

        .name {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .email {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}
.btnLangHome{
    --color:black;
}

ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }