<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="5"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/logoapp.svg" /></ion-col>
        <ion-col size="5"><img class="logosAlcaldiaHeader" src="../../../assets/splashscreen/LogosAlcaldia.svg" /></ion-col>
        <ion-col size="2" class="colLang"><ion-button (click)="cambiarIdioma()" class="btnLang btnLangHome">{{lang}}</ion-button></ion-col>      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="header">
      <div class="avatar">
        <img src="{{user.ImageUrl}}" alt="">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="name">{{user.GivenName}} {{user.FamilyName}}</h3>
      <h5 class="email">{{user.Email}}</h5>
    </div>
    
    <ion-button *ngIf="user.LoginType == ''" (click)="cerrarSesion()" expand="block" color="danger">{{this.lang == 'ENG' ? "Back to login to log in" : "Volver al login para iniciar sesión"}}</ion-button>
    <ion-button *ngIf="user.LoginType != ''" (click)="cerrarSesion()" expand="block" color="danger">{{this.lang == 'ENG' ? "LOGOUT" : "CERRAR SESIÓN"}}</ion-button>
  </div>
<ion-content>