#map_canvas {
    width: 90%;
    height: 80%;
    border: 1px solid red;
  }
  
  
  #address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #map {
    width: 100%;
    height: 100vh;
  }
  
  .map-wrapper {
    position: relative;
    margin-top: -56px;
  }

  .hHeaderMap>ion-toolbar>.toolbar-background{
      background-color: rgba(255, 27, 27, 0.5);
  }
  
  .hHeaderMap >ion-toolbar> .toolbar-container{
      background-color: rgba(255, 0, 0, 0.5);
  }
  
  .hHeaderMap{
      height: 56px;
  }

  #iontb{
    height: 45px;
  }

  #divOp{
    height: 56px;
    background-color: black;
  }

  ion-toolbar{
    --background:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.35)));
  }
