<ion-header class="genHeader">
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col size="2"><ion-button (click)="fnAtras()" class="btnAtras"><ion-icon name="arrow-back-outline"></ion-icon></ion-button></ion-col>
        <ion-col size="8"></ion-col>
        <ion-col size="2"><ion-button (click)="cambiarIdioma()" class="btnLang">{{lang}}</ion-button></ion-col>
      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header> 
<ion-content fullscreen class="genContent">
<div>
  <ion-list *ngFor="let item of menu">
    <ion-list (click)="sitioTuristico(item)">
      <ion-icon slot="end" class="icon-share" name="share-social-outline"></ion-icon>
      <ion-icon slot="end" class="icon-heart" name="heart-outline"></ion-icon>
      <img class="card-img" src="http://girardotaturistica.azurewebsites.net/{{item.ImagenPrincipal}}" />
      <ion-item lines="none">
        <h1>{{lang == 'ENG' ? item.NombreSitioTuristicoENG : item.NombreSitioTuristicoESP}}</h1>
        <ion-icon slot="end" name="star-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <p>{{lang == 'ENG' ? item.DescripcionENG : item.DescripcionESP}}</p>
      </ion-item>
    </ion-list>
  </ion-list>
</div>
</ion-content>
