<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img slot="start" class="iconLogo" src="../../assets/images/logoappinterno.png"></ion-img>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <google-map apiKey="AIzaSyC0lKHHDg6t9uiw9CbZj04jbFSw2z2phCk"></google-map> -->
  <div id="map_canvas" #map_canvas></div>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="primary" (click)="centerMapOnCity()">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="currentMarkerPosition === null" color="success" (click)="drawRouteFromMarker()">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary" (click)="goToCurrentLocation()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="banner_info">
    <ion-list *ngFor="let item of datosSitioTuristico">
      <ion-accordion color="-" title="{{getCurrentLanguageESP() ? item.Nombre : item.NombreENG}}"
        openIcon="remove-circle" closeIcon="add-circle" classTitle="border-header" class="accordion">
        <div class="background">
          <div class="ion-text-justify">{{getCurrentLanguage() == "ESP" ? item.ValorESP : item.ValorENG}}</div>
          <div ng-show="item.Imagen">
            <ion-img [src]="item.Imagen"></ion-img>
          </div>
        </div>
      </ion-accordion>
    </ion-list>
  </div>
</ion-content>