<ion-content class="background">
  <ion-grid class="h-100">
    <ion-row justify-content-center align-items-center class="h-100">
      <ion-col style="margin-top: 40%;">
        <ion-row justify-content-center align-items-center>
          <ion-col size="12" class="ion-no-padding">
            <div class="ion-text-center">
              <h1 class="title">Iniciar Sesión</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-img class="logo" src="../../assets/images/logoapp.png"></ion-img>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="12">
            <ion-button class="login-button ion-margin-top" expand="block" (click)="loginGoogle()"><ion-icon name="logo-google" >Login</ion-icon></ion-button>
          </ion-col>    
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
