<ion-content class="background">
  <ion-grid class="h-100">
    <ion-row justify-content-center align-items-center class="h-100">
      <ion-col>
        <ion-row>
          <ion-img class="logo" src="../../assets/images/logoapp.png"></ion-img>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="12" class="ion-no-padding">
            <div class="ion-text-center">
              <h1 class="title">¡Bienvenido!</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="6">
            <ion-img src="../../assets/images/iconHome.png"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-img src="../../assets/images/iconMap.png" (click)="mapsPage()"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="6">
            <ion-img src="../../assets/images/iconScan.png" (click)="scanPage()"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-img src="../../assets/images/iconMap.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="12">
            <ion-img src="../../assets/images/logoGirardota.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
