<ion-content class="background">
  <ion-grid class="h-100">
    <ion-row justify-content-center align-items-center class="h-100">
      <ion-col>
        <ion-row>
          <ion-img class="logo" src="../../assets/images/logoapp.png"></ion-img>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="12" class="ion-no-padding">
            <div class="ion-text-center">
              <h1 class="title" *ngIf="getCurrentLanguageESP()">¡Bienvenido!</h1>
              <h1 class="title" *ngIf="!getCurrentLanguageESP()">Welcome!</h1>
            </div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="6">
            <ion-img src="../../assets/images/iconHome.png"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-img src="../../assets/images/iconMap.png" (click)="mapsPage()"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="6">
            <ion-img src="../../assets/images/iconScan.png" (click)="scanPage()"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-col size="6">
                <ion-img src="../../assets/images/colflag.png" (click)="setLanguage('ESP')"></ion-img>
              </ion-col>
              <ion-col size="6" class="style-text-lang" (click)="setLanguage('ESP')">ESP</ion-col>
              <ion-col size="6">
                <ion-img src="../../assets/images/usaflag.png" (click)="setLanguage('ENG')"></ion-img>
              </ion-col>
              <ion-col size="6" class="style-text-lang" (click)="setLanguage('ENG')">ENG</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="12">
            <ion-img src="../../assets/images/logoGirardota.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>