<ion-header>
  
</ion-header>

<ion-content>

  <ion-row class="imageCenter">

   
    <ion-col sizeLg="12" sizeXs="12" sizeMd="12" style="text-align: center !important; padding-left: 13px !important;">

      
      <ion-slides  #slides effect="coverflow" [options]="mySlideOptions" pager="true">
        <ion-slide *ngFor="let item of images" >
          <img class="card-img" src="http://girardotaturistica.azurewebsites.net/{{item.UrlFoto}}" />
        </ion-slide>
      </ion-slides>    

    </ion-col>

 


  </ion-row>

</ion-content>
