<ion-content padding [fullscreen]= "true">
  <ion-grid id="mainGrid">
    <ion-row class="ionRowTop">
      <ion-col class="thumbnailIcon">       
          <img id="logoapp" class="logoapp" src="../../assets/splashscreen/logoapp.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="ionRowMiddle">
      <ion-col class="iconLogo" center>
        <img class="clsManos" src="../../assets/splashscreen/Manos.svg" />
        <img class="clsPlanta" src="../../assets/splashscreen/Planta.svg" />
        <img class="clsComida" src="../../assets/splashscreen/Comida.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="ionRowBot">
      <ion-col>
        <img class="clsLogos" src="../../assets/splashscreen/LogosAlcaldia.svg" />
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>