ion-list-header {
  ion-item {
    width: 100%;
  }
}
.styleAccordion{
  font-size: 14pt;
  text-align: justify;
  margin-left:4%;
  margin-right: 4%;
}
.styleheaderAccordion{
 background-color: rgb(28, 112, 182);
 color:white;
}
.labelAccordion{
  color:white;
}
ion-icon{
  fill: white;
}