
  <ion-tabs style="background-color: blue;">
 
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon src="../../assets/icon_home.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="religioso">
        <ion-icon src="../../assets/icon_religioso.png"></ion-icon>
        <ion-label>Religioso</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="senderismo">
        <ion-icon src="../../assets/icon_Senderismo.png"></ion-icon>
        <ion-label>Senderismo</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="gastronomico">
        <ion-icon src="../../assets/icon_gastronomia.svg"></ion-icon>
        <ion-label>Gastronomico</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-icon src="../../assets/icon_miperfil.png"></ion-icon>
        <ion-label>Mi perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
   
  </ion-tabs>

