<ion-split-pane contentId="content" when="false" > 
  <ion-menu menuId="menuContent" #splitpane type="push">
    <ion-header>
      <ion-toolbar >
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="content-menu">
      <ion-list class="ion-no-padding" lines="none" >
        <ion-menu-toggle autoHide="false" *ngFor="let p of appPages"> 
          <ion-item routerDirection="root" [routerLink]="[p.url]" color="blueberry">
            <ion-img src="{{p.icon}}"></ion-img>
            <ion-label class="font-menu" style="padding-left: 10px;"> {{ getLanguage() == "ESP" ? p.title : p.titleENG }}</ion-label> 
          </ion-item>
        </ion-menu-toggle>

<!--         <ion-item-divider>
          <ion-label>
            {{ getLanguage() == "ESP" ? "Idiomas" : "Languages" }}
          </ion-label>
        </ion-item-divider>

        <ion-item (click)="changeLanguage('ENG')">
          <ion-icon src="assets/images/estados-unidos.svg"></ion-icon>
          <ion-label class="font-menu" style="padding-left: 10px;"> ENG </ion-label>
        </ion-item>
        <ion-item (click)="changeLanguage('ESP')">
          <ion-icon src="assets/images/colombia.svg"></ion-icon>
          <ion-label class="font-menu" style="padding-left: 10px;"> ESP </ion-label>
        </ion-item> -->
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item (click)="logout()">
        <ion-icon class="icon-menu" name="exit"></ion-icon>
        <ion-label class="font-menu" style="padding-left: 10px;"> Cerrar Sesion</ion-label>
    </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main id="content" #content></ion-router-outlet>
</ion-split-pane>
