<ion-content>
  <ion-slides #slides effect="coverflow" (ionSlideAfterInit)="ionSlideAfterInit()"
    (ionSlideDidChange)="slideChanged(slides)">
    <ion-slide *ngFor="let item of mainPredictionArray">
      <ion-icon slot="start" class="icon-arrow" name="arrow-back-outline"></ion-icon>
      <ion-icon slot="end" class="icon-share" name="share-social-outline"></ion-icon>
      <ion-icon slot="end" class="icon-heart" name="heart-outline"></ion-icon>
      <img class="card-img" src="{{item.predictionImageURL}}" />
      <ion-item lines="none">
        <h1>{{item.header}}</h1>
        <ion-icon slot="end" name="star-outline"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <p>{{item.subject}}</p>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <ion-accordion title="Presentacion" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion">
    <ion-label>Me les voy</ion-label>
  </ion-accordion>
  <ion-accordion title="Horarios eucaristias" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion">
    <ion-label>Horarios eucaristias</ion-label>
  </ion-accordion>
  <ion-accordion title="Galeria" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion">
    <ion-label>Galeria</ion-label>
  </ion-accordion>
  <ion-accordion title="Como llegar" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion">
    <ion-label>Como llegar</ion-label>
  </ion-accordion>
  <ion-accordion title="Opiniones" openIcon="arrow-up" closeIcon="arrow-down" classTitle="border-header" class="accordion">
    <ion-label>Me les voy</ion-label>
  </ion-accordion>
</ion-content>
