<ion-header>
  <ion-toolbar>    
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-img slot="start" class="iconLogo" src="../../assets/images/logoappinterno.png"></ion-img>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background h-100" overflow-scroll="true">
  <ion-grid class="h-100">
    <ion-row justify-content-center align-items-center class="h-100">
      <ion-col>
        <ion-row>
          <ion-img class="logo" src="../../assets/images/iconscanbig.png"></ion-img>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col size="12">
            <ion-img src="../../assets/images/btnScan.png" (click)="leerCodigo()"></ion-img>
          </ion-col>    
        </ion-row>
      </ion-col>
    </ion-row>
   <ion-row>
     <ion-col>
      <ion-img src="../../assets/images/logoGirardota.png"></ion-img>
     </ion-col>
   </ion-row> 
  </ion-grid>
</ion-content>
