<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
    <aspNetCore processPath="dotnet" arguments=".\TourismApp.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: bcd2122a-4229-48d7-a67b-8ff6bebff2d3-->