<div class="container">
    <div class="row">
        <div class="col py-5 text-center">
            <h2>Cambio contraseña</h2>
            <p class="lead">Para cambiar la contraseña debe digitar la contraseña actual y la nueva</p>
        </div>
    </div>

    <div class="row">
        <div style=" margin-left: 195px;" class="col-12 col-md-8 order-2 order-md-1 mb-3">
            <h4 class="mb-3">Ingreso</h4>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-label" for="correo">Clave actual</label>
                    <input ng-model="ctrl.realPassword" type="password" class="form-control" name="correo">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-label" for="direccion">Nueva clave</label>
                    <input ng-model="ctrl.newPassword_1" type="password" class="form-control" name="direccion">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label class="form-label" for="direccion2">Repita la nueva clave</label>
                    <input ng-model="ctrl.newPassword_2" type="password" class="form-control" name="direccion2">
                </div>
            </div>
        </div>
    </div>
    <input ng-click="ctrl.changePassword()" style="margin-left: 200px;" type="submit" value="Cambiar contraseña" class="btn btn-block btn-lg btn-primary">
</div>