<div style="margin-left: 60px;" class="row">
    <div class="columna col-12 col-lg-9 col-sm-6 col-md-8">

        <h3 class="mt-4">{{ctrl.title}}</h3>
        <div class="col-6">
            <a href="#contenido-1"
               type="button"
               class="btn btn-primary"
               data-bs-toggle="collapse"
               aria-expanded="false"
               aria-controls="contenido-1">Información</a>
            <div class="collapse mt-3" id="contenido-1">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ctrl.title}}</h2>
                        <p class="card-text">
                            En la primera sección del lado izquierdo se agrega la información del sitio turistico en español, en la parte derecha se llenara esta misma en lenguaje ingles,
                            Los campos marcados con el signo "*" son campos obligatorios y será necesario digitarlos.
                            Para cargar la sección de imagenes primero debe guardar cambios mediante el botón "Guardar Cambios"
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6 ">

                <h3>Español</h3>

                <div class="mb-2">
                    <label for="correo" class="form-floating form-label">Nombre</label>
                    <input ng-model="ctrl.siteNameESP" type="text" class="form-control" id="correo" aria-describedby="ayuda-correo">
                    <div id="ayuda-correo" class="form-text">
                        *Digite el nombre en lenguaje español.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="mensaje" class="form-label">Presentación</label>
                    <textarea ng-model="ctrl.presentationNameESP" class="form-control" name="mensaje" id="mensaje"></textarea>
                    <div id="ayuda-correo" class="form-text">
                        Digite la descripción en lenguaje español.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="mensaje" class="form-label">Descripción</label>
                    <textarea ng-model="ctrl.descriptionESP" class="form-control" name="mensaje" id="mensaje"></textarea>
                    <div id="ayuda-correo" class="form-text">
                        *Digite la descripción en lenguaje español.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="mensaje" class="form-label">Como llegar</label>
                    <textarea ng-model="ctrl.routeESP" class="form-control" name="mensaje" id="mensaje"></textarea>
                    <div id="ayuda-correo" class="form-text">
                        *Digite como llegar en lenguaje español.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="mensaje" class="form-label">Dirección</label>
                    <input ng-model="ctrl.DireccionESP" class="form-control" name="mensaje" id="mensaje">
                    <div id="ayuda-correo" class="form-text">
                        *Digite la Dirección en lenguaje español.
                    </div>
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text">Latitud</span>
                    <input ng-model="ctrl.routeLatitude" type="text" class="form-control" aria-label="Latitud">

                    <span class="input-group-text">Longitud</span>
                    <input ng-model="ctrl.RouteLength" type="text" class="form-control" aria-label="Longitud">
                    <div id="ayuda-correo" class="form-text">
                        *Digite la la longitud y latitud, solo se permiten valores númericos.
                    </div>
                </div>

                <div class=" mb-2">
                    <label for="mensaje" class="form-label">Municipio</label>
                    <select name="mySelect" id="mySelect" class="form-select"
                            ng-options="option.NombreMunicipio for option in  ctrl.towns track by option.IdMunicipio"
                            ng-model="ctrl.selectedOptionTown"></select>
                    <div id="ayuda-correo" class="form-text">
                        *Expande el menu para seleccionar un municipio.
                    </div>
                </div>

                <div class="form-check form-switch">
                    <input ng-model="ctrl.safetyPin" type="checkbox" name="switch-1" class="form-check-input" id="switch-1">
                    <label for="switch-1" class="form-check-label">Imperdible</label>
                </div>

                <div class="mb-2">
                    <button ng-click="ctrl.saveTouristSite()" type="button" class="btn btn-primary">
                        Guardar cambios
                    </button>
                </div>

            </div>

            <div class="col-6">
                <h3>Ingles</h3>
                <div class="mb-2">
                    <label for="correo" class="form-label">Nombre</label>
                    <input ng-model="ctrl.siteNameENG" type="text" class="form-control" id="correo" aria-describedby="ayuda-correo">
                    <div id="ayuda-correo" class="form-text">
                        Digite el nombre en lenguaje ingles.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="mensaje" class="form-label">Presentación</label>
                    <textarea ng-model="ctrl.presentationNameENG" class="form-control" name="mensaje" id="mensaje"></textarea>
                    <div id="ayuda-correo" class="form-text">
                        Digite la descripción en lenguaje ingles.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="mensaje" class="form-label">Descripción</label>
                    <textarea ng-model="ctrl.descriptionENG" class="form-control" name="mensaje" id="mensaje"></textarea>
                    <div id="ayuda-correo" class="form-text">
                        Digite la descripción en lenguaje ingles.
                    </div>
                </div>

                <div class="mb-2">
                    <label for="mensaje" class="form-label">Como llegar</label>
                    <textarea ng-model="ctrl.routeENG" class="form-control" name="mensaje" id="mensaje"></textarea>
                    <div id="ayuda-correo" class="form-text">
                        Digite  como llegar en lenguaje ingles.
                    </div>
                </div>


                <div class="mb-2">
                    <label for="mensaje" class="form-label">Dirección</label>
                    <input ng-model="ctrl.DireccionENG" class="form-control" name="mensaje" id="mensaje">
                    <div id="ayuda-correo" class="form-text">
                        Digite la Dirección en lenguaje ingles.
                    </div>
                </div>

                <div>
                    <i class='material-icons' style='font-size:19px !important; font-weight: bold' ng-click='ctrl.AddTime()'>add</i>
                    <div ng-repeat="(i, time) in ctrl.newTimes track by $index">
                        <i class='material-icons' style='font-size:19px !important; font-weight: bold' title="Eliminar horario" ng-click='ctrl.deleteTime(time,i)'>delete_forever</i>
                        <span class="glyphicon glyphicon-minus"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Día</span>
                            <tags-input data-ng-model="ctrl.selectedDays[i]"
                                        add-on-enter="true"
                                        on-tag-added="ctrl.onTagAdded($tag)"
                                        key-property="IdDiaSemana"
                                        placeholder="Agregar día"
                                        replace-spaces-with-dashes="false"
                                        class="form-row29"
                                        display-property="NombreDiaESP"
                                        style="height: 50px; width: 120px; min-width: 120px; margin-top: 0px !important; background-color: transparent; ">
                                <auto-complete source="ctrl.selectionWeekDays"></auto-complete>
                            </tags-input>

                            <span class="input-group-text">Horario</span>
                            <textarea data-ng-model="ctrl.selectedHours[i]" type="text" class="form-control" aria-label="Longitud"></textarea>
                            <div id="ayuda-correo" class="form-text">
                                Seleccione un día y agregue los horarios disponibles separados por coma.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Buscar imagenes...<input type="file" multiple my-directory="ctrl.getFiles(file)" ng-disabled="ctrl.uploading" />
                            </span>
                        </span>
                        <input type="text" ng-model="ctrl.countFiles" class="form-control" readonly>

                    </div>
                    <div id="ayuda-correo" class="form-text">
                        Seleccione las imagenes a cargar.
                    </div>
                    <input style="margin-top: 10px;" type="button" class="btn btn-default  btn-primary" ng-click="ctrl.uploadFiles('')" value="Cargar imagenes" ng-disabled="ctrl.uploading || ctrl.countFiles==='' ||  ctrl.IdSitioTuristico == ''" />

                    <div ng-repeat="file in ctrl.data ">
                        {{file.FileName  + '  ' + file.FileLength + ' bytes'  }}
                    </div>

                </div>

                <div ng-show="ctrl.showHeking" class="mb-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Buscar imagen .gpx...<input type="file" multiple my-directory="ctrl.getFileGpx(file)" ng-disabled="ctrl.uploading" />
                            </span>
                        </span>
                        <input type="text" ng-model="ctrl.countFilesGpx" class="form-control" readonly>

                    </div>
                    <div id="ayuda-correo" class="form-text">
                        Seleccione la imagen .gpx a cargar.
                    </div>
                    <input style="margin-top: 10px;" type="button" class="btn btn-default  btn-primary" ng-click="ctrl.uploadFiles('tmpGPX')" value="Cargar imagen .gpx" ng-disabled="ctrl.uploading || ctrl.countFilesGpx==='' ||  ctrl.IdSitioTuristico == ''" />

                    <div ng-repeat="file in ctrl.data ">
                        {{file.FileName  + '  ' + file.FileLength + ' bytes'  }}
                    </div>

                </div>

            </div>
        </div>
    </div>
