<ion-list class="ion-no-padding">
  <ion-list-header class="ion-no-padding">
    <ion-item (click)="onClick()" [color]="color" [ngClass]="classTitle" [class.expanded]="_expanded" lines="none">
      <ion-label>
        <b>{{ title }}</b>
      </ion-label>
      <ion-icon [name]="expanded ? openIcon : closeIcon" slot="end"></ion-icon>
    </ion-item>
  </ion-list-header>
  <div [@itemExpandable]="expanded ? 'expandable' : 'unexpansive'">
    <ng-content #expandable></ng-content>
  </div>
</ion-list>