ion-list-header {
  ion-item {
    width: 100%;
  }
}
.styleAccordion{
  font-size: 14pt;
  text-align: justify;
  margin-left:4%;
  margin-right: 4%;
}
.styleheaderAccordion{
  background-image: linear-gradient(to right top, #ffffff, #fafafa, #f6f6f6, #f1f1f1, #ededed);
}
